<header id="header" class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top nav-color" style="background:#0077C0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>
      <div class="collapse navbar-collapse mx-auto justify-content-md-center" id="navbarNav">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item active">
            <a class="nav-link text-light" href="#">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="presentation">Presentación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="download">DSL-MoCap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="evaluation">Práctica</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="form">Formulario</a>
          </li>
        </ul>
      </div>
    </nav>

</header><!-- End Header -->