<div class="container pt-4">
    <div class="row pt-5 text-center">
        <div class="col text-center">
            <h5>Es necesario tener instalado javaSE-1.8 desde este <a
                    href="https://www.oracle.com/java/technologies/javase/javase-jdk8-downloads.html">enlace</a>.</h5>
        </div>
    </div>
    <div class="row pt-4 text-center">
        <div class="col text-center">
            <a class="btn btn-outline-dark py-3 px-5 round absolute-center"
                href="https://drive.google.com/uc?id=1uJCzf_q8bpaONW-I3xQOOMcMfpcz-LOi&export=download">Descargar
                proyecto</a>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col">
            <video class="img-fluid" controls="" autoplay="true" name="media"><source src="../../assets/video.mp4" type="video/mp4"></video>
        </div>
    </div>
</div>