<div class="container pt-5">
        <h3 class="pt-5 text-center">Evaluación de un Lenguaje de Dominio Específico DSL-MoCap con HCI a través de dispositivos
            de captura de movimiento en AAL</h3>
    <div class="row pt-3">
        <div class="col text-center shadow-lg">
            <iframe class="pt-5" src="https://docs.google.com/forms/d/e/1FAIpQLSdKKgjpYzn9TXcusMiqGWIqFWtD28XDihS0gpDzqqU-mL7dgA/viewform?embedded=true" width="800" height="3900" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
        </div>
    </div>
</div>
