<section class="hero">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('../../assets/img/background.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <div class="row pt-5">
                        <div class="col-2">
                            <img class="img-fluid" src="../assets/img/stroop.png">
                        </div>
                        <div class="col-10">
                            <h1>Evaluación de un Lenguaje de Dominio Específico DSL-MoCap con HCI a través de dispositivos
                                de captura de movimiento en AAL</h1>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-4  text-right">
                            <h6>Proyecto de tesis de pregrado:</h6>
                        </div>
                        <div class="col-8">
                            <h6>Creación de un lenguaje de dominio específico (dsl) para la especificación de
                                interacciones
                                humano computador, a través de dispositivos de captura de movimiento, en soluciones
                                tecnológicas
                                para entrenamiento cognitivo orientadas al adulto mayor</h6>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col-4 text-right">
                            <h6>Tesista:</h6>
                        </div>
                        <div class="col-3 text-left">
                            <h6>Brian Mora</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-right">
                            <h6>DIrectora de tesis:</h6>
                        </div>
                        <div class="col-3 text-left">
                            <h6>Ing. Priscila Cedillo. Ph.D</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 text-right">
                            <h6>Colaboradores:</h6>
                        </div>
                        <div class="col-5 text-left">
                            <h6>Psic. Daniela Prado | Ing. Paúl Cárdenas</h6>
                        </div>
                    </div>
                    <div class="row justify-content-md-center pt-5">
                        <div class="col-3">
                            <img class="img-fluid" src="../assets/img/ucuenca.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>